.toolbar {
    background-color: #282c34;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .toolbar-title {
    color: white;
    margin: 1;
  }
  
  .toolbar-buttons {
    display: flex;
  }
  
  .toolbar-button {
    background-color: #6361fb;
    border: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none; 
  }
  
  .toolbar-button:hover {
    background-color: #c021f1;
  }
  