.graph-builder {
    width: 100%;
    height: 100%;
    border: 1px solid #3454D1;
    background-color: #FFFFFF;
    user-select: none;
}

.graph-builder circle {
    cursor: pointer;
    transition: fill 0.2s ease;
}

.graph-builder circle:hover {
    fill: #189AB4;
}

.graph-builder line {
    stroke-width: 2;
    cursor: pointer;
}

.graph-builder text {
    user-select: none;
    pointer-events: none;
}

.graph-builder polygon {
    pointer-events: none;
}

.graph-builder .temp-edge {
    stroke-dasharray: 5, 5;
    stroke: #D1345B;
    stroke-width: 2;
    pointer-events: none;
}